
/* Tablet and Mobile */
@media (max-width: 1023px) {
    .menu__btn {
        display: block;
    }
    .header-menu-list {
        display: none;
    }

    .header {
        margin-top: 0;
        padding-top: 56px;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    
}