.subscribe {
    display: flex;
    justify-content: center;
    margin-bottom: -116px;
    box-shadow: 0 33px 114px rgba(13, 16, 37, 0.068);
    &-container {
        width: 100%;
        max-height: 233px;
        padding: 58px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
    }
    &-content {
        max-width: 410px;
        width: 100%;
        .heading {
            line-height: 45px;
            max-width: 371px;
        }
    }
    &-btn {
        align-items: center;
    }
}