.pricing {
    margin-bottom: 158px;
    &__content {
        display: flex;
        margin-bottom: 82px;
        .heading {
            font-size: 60px;
            line-height: 70px;
            max-width: 50%;
        }
    }

    &-btn {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-wrap {
            width: 344px;
            height: 65px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            background-color: #F7F7FB;
            .active {
                background-color: $primary-color;
                color: #fff;
                height: 55px;
                width: 160px;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 10px 0px 0px 10px;
                margin-left: 5px;
                font-size: 1.6rem;
                font-family: $fonts;
            }
            .normal {
                flex: 1;
                height: 100%;
                background-color: transparent;
                color: $heading-color;
                border: none;
                outline: none;
                font-weight: bold;
                font-size: 1.6rem;
                font-family: $fonts;
            }
        }
    }

    &__plans {
        display: grid;
        grid-template-columns: 330px 376px 330px;
        align-items: center;
        gap: 0 18px;
        justify-content: center;
        .plan-item {
            max-width: 330px;
            height: 440px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .type {
                font-size: 1.8rem;
                line-height: 28px;
                color: $text-color;
                margin-bottom: 22px;
            }
            .heading {
                font-size: 60px;
                line-height: 56px;
                margin-bottom: 28px;
            }
            .other {
                font-size: 1.7rem;
                line-height: 50px;
                color: $text-color;
                margin-bottom: 36px;
            }
            &-btn {
                width: 285px;
                height: 60px;
                color: $primary-color;
                background-color: #fff;
                margin: 0 auto;
                text-decoration: none;
                font-size: 1.7rem;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                display: flex;
                border-radius: 10px;
            }
        }   
        .active {
            background-color: #FF7143;
            box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
            color: #fff;
            max-width: 376px;
            height: 473px;
            .type, .heading, .other, .plan-item-btn {
                color: #fff;
            }
            .plan-item-btn {
                background-color: #9F3919;
            }
        }
    }
}