.subscription {
    margin-bottom: 84px;
    .container {
        display: flex;
        align-items: center;
        gap: 0 165px;
        .heading {
            font-size: 50px;
            line-height: 57px;
        }
    }
}