.header {
    margin-bottom: 94px;
    background: linear-gradient(96.22deg, #043CAA -0.66%, rgba(4, 60, 170, 0.86) 44.05%, rgba(4, 60, 170, 0) 100%), url(../img/header-bg.png);;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 104px;
        position: relative;
        .logo {
            .heading-white {
                font-size: 2.4rem;
                line-height: 32px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .navbar {
            display: flex;
            gap: 0 48px;
            list-style-type: none;
            .navbar-item-link {
                font-size: 1.6rem;
                line-height: 21px;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    &-hero {
        display: flex;
        align-items: center;
        

        .hero-img {
            transform: translateX(262px);
        }

        .hero__content {

            &-list {
                display: flex;
                gap: 0 20px;
            }

            &-item {
                .active {
                    color: $primary-color;
                    background-color: #fff;
                }
            }

            &-link {
                font-size: 1.8rem;
                color: #fff;
                border: 1px solid #fff;
                padding: 10px 35px;
                border-radius: 50px;
            }
        }
    }

    .menu-mobile-overlay {
        display: none;
    }

    .menu-btn {
        display: none;
        z-index: 1;
        i {
            font-size: 4rem;
            color: #fff;
        }
    }

    .bg {
        visibility: hidden;
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: $primary-color;
        border-radius: 50%;
        z-index: 0;
        right: 0;
        transform: scale(0);
        &.is-active {
            transition: all 0.5s linear;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 10;
            visibility: unset;
            transform: scale(100);

        }
    }

    .nav__mobile {
        display: none;
        position: fixed;
        right: 1%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 1;
        overflow: hidden;
        .close-btn {
            position: absolute;
            right: 10%;
            top: 10%;
            font-size: 1.6rem;
            color: #fff;
            font-weight: 400;
            font-style: italic;
            border: 2px solid #fff;
            padding: 10px;
            border-radius: 50px;
        }

        .close-btn:hover {
            background: #fff;
            color: $text-color;
        }
    }

    .nav__mobile.full {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        border-radius: 0;
    }

    .nav__mobile.full:not(.close-btn) {
        display: flex;
        flex-direction: column;
        padding-top: 50%;
        text-align: center;
        gap: 30px 0;
        a {
            font-size: 1.8rem;
            color: #fff;
        }
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }
}

.overflow {
    overflow: hidden;
}